@import "reset.css";

html, body {
  height: 100%;
}

body {
  background-image: url('../images/logo.svg');
  background-size: 400px;
  background-repeat: no-repeat;
  background-color: #323948;
  background-position: center;
}